.Rproj.user
.Rhistory
.RData
.Ruserdata
*DS_Store
osf_token.txt
*/raw_data/*
data/pomper_saffran_2016/full_dataset/carrier_phrases.csv
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_CN1A.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_CN1B.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_CN2A.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_CN2B.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_CN3A.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_CN3B.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_CN4A.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_CN4B.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_NC1A.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_NC1B.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_NC2A.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_NC2B.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_NC3A.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_NC3B.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_NC4A.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_NC4B.txt
data/pomper_saffran_2016/full_dataset/pomper_saffran_2016_datawiz_processed.TXT
data/pomper_saffran_2016/full_dataset/pomper_saffran_2016_raw_datawiz.txt
data/pomper_saffran_2016/full_dataset/README.md
data/pomper_saffran_2016/processed_data/administrations.csv
data/pomper_saffran_2016/processed_data/aoi_timepoints.csv
data/pomper_saffran_2016/processed_data/datasets.csv
data/pomper_saffran_2016/processed_data/stimuli.csv
data/pomper_saffran_2016/processed_data/subjects.csv
data/pomper_saffran_2016/processed_data/trial_types.csv
data/pomper_saffran_2016/processed_data/trials.csv
data/pomper_salientme/raw_data/orders/SME-C1N1L1_eprime.xlsx
data/pomper_salientme/raw_data/orders/SME-C1N1L2_eprime.xlsx
data/pomper_salientme/raw_data/orders/SME-C1N2L1_eprime.xlsx
data/pomper_salientme/raw_data/orders/SME-C1N2L2_eprime.xlsx
data/pomper_salientme/raw_data/orders/SME-C2N1L1_eprime.xlsx
data/pomper_salientme/raw_data/orders/SME-C2N1L2_eprime.xlsx
data/pomper_salientme/raw_data/orders/SME-C2N2L1_eprime.xlsx
data/pomper_salientme/raw_data/orders/SME-C2N2L2_eprime.xlsx
data/pomper_salientme/raw_data/SalientME_Participants_deID.xlsx
data/pomper_salientme/raw_data/SME_Final.txt
data/pomper_salientme/processed_data/administrations.csv
data/pomper_salientme/processed_data/aoi_timepoints.csv
data/pomper_salientme/processed_data/datasets.csv
data/pomper_salientme/processed_data/stimuli.csv
data/pomper_salientme/processed_data/subjects.csv
data/pomper_salientme/processed_data/trial_types.csv
data/pomper_salientme/processed_data/trials.csv
data/byers-heinlein_2017/full_dataset/switching_data_variable_explanations.docx
data/byers-heinlein_2017/full_dataset/AOIs.csv
data/byers-heinlein_2017/full_dataset/switching_data.csv
data/byers-heinlein_2017/processed_data/administrations.csv
data/byers-heinlein_2017/processed_data/aoi_region_sets.csv
data/byers-heinlein_2017/processed_data/aoi_timepoints.csv
data/byers-heinlein_2017/processed_data/datasets.csv
data/byers-heinlein_2017/processed_data/stimuli.csv
data/byers-heinlein_2017/processed_data/subjects.csv
data/byers-heinlein_2017/processed_data/trial_types.csv
data/byers-heinlein_2017/processed_data/trials.csv
data/byers-heinlein_2017/processed_data/xy_timepoints.csv
data/potter_canine/processed_data/aoi_timepoints.csv
data/byers-heinlein_2017/full_dataset/id_mapping.csv
data/byers-heinlein_2017/full_dataset/Mix_Master_Subject_List_Infants.csv
data/byers-heinlein_2017/full_dataset/ReMix_Master_Subject_List_Infants.csv
data/byers-heinlein_2017/full_dataset/switching_data_subj_info.csv
data/byers-heinlein_2017/full_dataset/Mix_Trial_Orders.csv
data/byers-heinlein_2017/full_dataset/ReMix_Trial_Orders.csv
data/byers-heinlein_2017/raw_data/AOIs.csv
data/byers-heinlein_2017/raw_data/Mix_Trial_Orders.csv
data/byers-heinlein_2017/raw_data/ReMix_Trial_Orders.csv
data/byers-heinlein_2017/raw_data/switching_data.csv
data/byers-heinlein_2017/raw_data/switching_data_subj_info.csv
data/byers-heinlein_2017/raw_data/switching_data_variable_explanations.docx
data/pomper_saffran_2016/README.md
data/swingley_aslin_2002/processed_data/administrations.csv
data/swingley_aslin_2002/processed_data/aoi_timepoints.csv
data/swingley_aslin_2002/processed_data/datasets.csv
data/swingley_aslin_2002/processed_data/stimuli.csv
data/swingley_aslin_2002/processed_data/subjects.csv
data/swingley_aslin_2002/processed_data/trial_types.csv
data/swingley_aslin_2002/processed_data/trials.csv
data/swingley_aslin_2002/raw_data/mon2_stimuli_combinations.csv
data/swingley_aslin_2002/raw_data/readme_swingley_mon2_peekbank_21mar25.txt
data/swingley_aslin_2002/raw_data/stimuli_combinations_snippet.R
data/swingley_aslin_2002/raw_data/subjdat_mon2_peekbank
data/swingley_aslin_2002/raw_data/swingley_mon2_peekbank_21mar25.txt
