.Rproj.user
.Rhistory
.RData
.Ruserdata
*DS_Store
osf_token.txt
*/raw_data/*
data/pomper_saffran_2016/full_dataset/carrier_phrases.csv
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_CN1A.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_CN1B.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_CN2A.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_CN2B.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_CN3A.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_CN3B.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_CN4A.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_CN4B.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_NC1A.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_NC1B.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_NC2A.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_NC2B.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_NC3A.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_NC3B.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_NC4A.txt
data/pomper_saffran_2016/full_dataset/orders/SwitchingCues_NC4B.txt
data/pomper_saffran_2016/full_dataset/pomper_saffran_2016_datawiz_processed.TXT
data/pomper_saffran_2016/full_dataset/pomper_saffran_2016_raw_datawiz.txt
data/pomper_saffran_2016/full_dataset/README.md
data/pomper_saffran_2016/processed_data/administrations.csv
data/pomper_saffran_2016/processed_data/aoi_timepoints.csv
data/pomper_saffran_2016/processed_data/datasets.csv
data/pomper_saffran_2016/processed_data/stimuli.csv
data/pomper_saffran_2016/processed_data/subjects.csv
data/pomper_saffran_2016/processed_data/trial_types.csv
data/pomper_saffran_2016/processed_data/trials.csv
data/pomper_salientme/raw_data/orders/SME-C1N1L1_eprime.xlsx
data/pomper_salientme/raw_data/orders/SME-C1N1L2_eprime.xlsx
data/pomper_salientme/raw_data/orders/SME-C1N2L1_eprime.xlsx
data/pomper_salientme/raw_data/orders/SME-C1N2L2_eprime.xlsx
data/pomper_salientme/raw_data/orders/SME-C2N1L1_eprime.xlsx
data/pomper_salientme/raw_data/orders/SME-C2N1L2_eprime.xlsx
data/pomper_salientme/raw_data/orders/SME-C2N2L1_eprime.xlsx
data/pomper_salientme/raw_data/orders/SME-C2N2L2_eprime.xlsx
data/pomper_salientme/raw_data/SalientME_Participants_deID.xlsx
data/pomper_salientme/raw_data/SME_Final.txt
